<div class="pagina-titulo">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap" rel="stylesheet">
  <span class="titulo-icone material-symbols-outlined">storefront</span>
  <h1>Mobile Shop</h1>
</div>


<!-- MESMO ÍCONE DO CARRINHO (reutilizado) -->
<div class="carrinho-fixo">
  <a [routerLink]="['/carrinho']" class="carrinho-botao">
    <span class="material-symbols-outlined" >
      add_shopping_cart
    </span>
    <span class="carrinho-contador" *ngIf="carrinhoService.quantidadeTotal > 0">
      {{ carrinhoService.quantidadeTotal }}
    </span>
  </a>
</div>
<div class="container my-5">

  <button type="button" class="btn-voltar" (click)="voltar()">
    Voltar para Produtos
  </button>

  <div *ngIf="!produto" class="texto-centro py-5">
    <div class="spinner"></div>
    <p>Carregando...</p>
  </div>

  <div class="detalhe-grid" *ngIf="produto">
    <div class="imagem-detalhe">
      <img [src]="produto.imagem" [alt]="produto.nome" (error)="onImgError($event)">
    </div>

    <div class="info-detalhe">
      <span class="categoria">{{ produto.categoria }}</span>
      <h1>{{ produto.nome }}</h1>
      
      <div class="preco-detalhe">
        R$ {{ produto.preco | number:'1.2-2' }}
      </div>

      <div class="estoque-detalhe" [class.baixo]="produto.estoque <= 5">
        Estoque: <strong>{{ produto.estoque }} unidades</strong>
      </div>

      <hr>

      <h4>Descrição</h4>
      <p class="descricao-detalhe">{{ produto.descricao }}</p>

      <button class="btn-adicionar-detalhe"
              (click)="addToCart(produto)"
              [disabled]="produto.estoque === 0">
        {{ produto.estoque > 0 ? 'Adicionar ao Carrinho' : 'Esgotado' }}
      </button>
    </div>
  </div>
</div>